<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function () {
            $("#header").load("index.html");
        });
    </script>
    <style>
        h3{
            color: white;
            text-align: center;
            background-color: olive;
            padding: 5px;
        }
        .option{
            color: black;
            
        }
        .p1{
            background-color: greenyellow;
            padding: 5px;
            width: 60px;
        }
          .p2{
            background-color: red;
            padding: 5px;
            width: 60px;
        }
        .container {
	        background-color: black;
}

table {
	
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th{
    background-color: cyan;
    color: black;
}
 td {
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.2);
	color: #fff;
    text-align: center;
}
    </style>
</head>

<body>
    <div id="header"></div>
    <hr>
    <div class="container">
        <table>
            <h3>All Products</h3>
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Part Number</th>
                    <th>Product Name</th>
                    <th>CGST</th>
                    <th>SGST</th>
                    <th>Price</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
               {{#each products}}
                <tr>
                    <td>{{this.productId}}</td>
                    <td>{{this.partNumber}}</td>
                    <td>{{this.productName}}</td>
                    <td>{{this.cgst}}</td>
                    <td>{{this.sgst}}</td>
                    <td>{{this.productPrice}}</td>
                    <td>
                       <p class="p1"> <a class="option" href="update">Update</a></p>
                    </td>
                    <td>
                         <p class="p2"><a class="option" href="delete">Delete</a></p>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    </body>